.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: crimson;
}

.red-text {
    color: #e8d802;
}

.white {
    background: #fff;
}

.white-text {
    color: #191919;
}