.wrapperMessage {
    display: flex;
    margin: 20px;
    align-items: flex-end;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
}

/*.corner::before {*/
/*    content: '';*/
/*    border-bottom-right-radius: 100%;*/
/*    border-right: 12px solid #fff;*/
/*    border-bottom: 5px solid #fff;*/
/*    border-top: transparent;*/
/*    border-left: transparent;*/
/*}*/

/*.corner {*/
/*    align-self: flex-end;*/
/*    width: 12px;*/
/*    height: 26px;*/
/*    background-color: #152A03FF;*/
/*}*/

.corner{
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at  0 0, rgba(0, 0, 0, 0) 15px, #152a03 0);
}

.bodyMessage {
    background-color: #152a03;
    border-radius: 4px 4px 4px 0;
    display: flex;
    align-items: flex-end;
}

.name {
    color: #c7016e;
    padding: 10px 10px 0 10px;
}

.text {
    color: #fff;
    min-width: 150px;
    max-width: 350px;
    word-wrap: break-word;
    padding: 0 10px 10px 10px;
}

.messageTime {
    color: #2d520c;
    font-weight: 600;
    padding: 0 10px 3px 0;
}
